* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
}

body
{
    background-color: black;
}
/*#main_container*/
/*{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*overflow: hidden;*/
/*}*/
#container
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#container > div,#container > img
{
    position: absolute;
}