/*预览页样式*/
.footer {
	font-size: .26rem;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	height: .88rem;
	line-height: .88rem;
	width: 100%;
	max-width: 500px;
	z-index: 199;
}
.footer::after {
	content: "";
	z-index: 197;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: .5;
	left: 0;
	top: 0;
}
.footer>a {
	width: 25%;
	float: left;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	z-index: 198;
}
.footer .iconfont {
	font-size: .26rem;
	margin-right: .16rem;
}
#moban {
	height: 100%;
	width:100%;
}
.moban_box {
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background:url(../img/index.jpg) no-repeat;
	background-size:cover;
}


/*列表页样式*/
header {
	height: .88rem;
	line-height: .88rem;
	background: #FFFFFF;
	position: relative;
}
header>ul {
	margin-left: 3%;
	position: absolute;
	width: 200%;
	height: .88rem;
	line-height: .88rem;
	left: 0;
	top: 0;
}
header>ul>li {
	float: left;
	font-size: .26rem;
	color: #999999;
	margin-left: .3rem;
	cursor: pointer;
}
header>ul>li:first-child {
	margin-left: 0;
}
header>ul>.active {
	color: #4abdcc;
}
.big_box {
	font-size: .24rem;
	clear: both;
	/*padding-top: 1.18rem;*/
}
.big_box>ul>li {
	float: left;
	width: 29.33%;
	position: relative;
	overflow: hidden;
	margin: 0 0 3% 3%;
}
.big_box>ul>li>div,
.big_box>ul>li>span {
	float: left;
	width: 100%;
}
.big_box>ul>li>div {
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}
.big_box>ul>li>div>img {
	width:100%;
}
.big_box>ul>li>span {
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	background: #FFFFFF;
}


/*音乐列表样式**/
.bottom_btnnn {
	position: fixed;
	right: 0;
	margin: 0 auto;
	z-index: 999;
	height: .88rem;
	line-height: .88rem;
	max-width: 500px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.ph_bottom .bottom_zd,
.bottom_btnnn_zd {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000000;
	opacity: .4;
	z-index: 9;
}
.bottom_btnnn_zd {
	opacity: 1;
	background: #333333;
	z-index: -1;
}
.bottom_btnnn>span {
	float: left;
	position: relative;
	z-index: 1000;
	width: 50%;
	text-align: center;
	line-height: .88rem;
	height: .88rem;
}
.bottom_btnnn>span>i {
	color: #FFFFFF;
	font-size: .38rem;
}
.ph_bottom .btn {
	position: absolute;
	z-index: 10;
	cursor: pointer;
	width: 50%;
	text-align: center;
	height: 100%;
	top: 0;
	left: 0;
}
.ph_bottom .btn_next {
	left: 50%;
}
.mic_here {
	height: .88rem;
	line-height: .88rem;
	border-bottom: 1px solid #f6f7f9;
}
.mic_name {
	color: #999999;
	margin-left: .3rem;
	float: left;
	max-width: 60%;
	overflow: hidden;
	white-space: nowrap;
}
.mic_btn {
	width: .88rem;
	float: right;
	margin-right: .6rem;
	height: .44rem;
	line-height: .44rem;
	margin-top: .22rem;
	border-radius: 2px;
	text-align: center;
	background: #CCCCCC;
	color: #FFFFFF;
}
.active .mic_btn {
	background: #4abdcc;
;
}
.mic_here.active .mic_btna,
.active .mic_name {
	color: #4abdcc;
;
}
.mic_here>.mic_btna {
	color: #CCCCCC;
	font-size: .3rem;
	float: right;
	margin-right: .3rem;
}
/*save 页面样式*/

#save {
	background: #f6f7f9;
	height: 100%;
}
.save_box {
	width: 92%;
	margin: 0 4%;
}
.save_title {
	color: #333333;
}
.save_here {
	float: left;
	width: 100%;
	margin-top: .5rem;
}
.save_here:first-child {
	margin-top: .3rem;
}
.text_mesg,
.text_mesg>textarea {
	float: left;
	width: 100%;
	outline: none;
	height: 3rem;
	padding-top: .2rem;
	border: none;
}
.text_mesg>textarea {
	text-indent: 1em;
}
.xieyi {
	clear: both;
	float: left;
	width: 100%;
	margin-top: .5rem;
	color: #4abdcc;
}
.xieyi .iconfont {
	color: #FFFFFF;
	background: #4abdcc;
	font-size: .18rem;
	padding: .02rem .04rem;
	float: left;
	margin-right: .1rem;
}
/*新增图片*/
#photo {
	font-size: .2rem;
	position: relative;
	overflow: initial;
}
.add_img {
	position: absolute;
	font-size: .26rem;
	cursor: pointer;
	color: #4abdcc;
	text-align: center;
	height: 2rem;
	min-height: 2rem;
	z-index: 99;
	background: #FFFFFF;
}
.add_img>i {
	font-size: .44rem;
	margin-top: .6rem;
	display: block;
}
.add_img>b {
	display: block;
	margin-top: .1rem;
}
.photo_here {
	width: 44%;
	position: absolute;
	left: 4%;
}
.photo_here:last-child {
	margin-bottom: .88rem;
}
.photo_here:nth-child(2) .btn_prev { display: none; }
.photo_here:nth-child(2) .btn_next { display: block;  width: 100%; left: 0;}
.photo_here>img {
	float: left;
	width: 100%;
	min-height: 2.4rem;
}
.photo_here>span {
	position: absolute;
	font-size: .4rem;
	right: 0;
	top: 0;
	background: #FFFFFF;
	color: #ff4e38;
}
.photo_here:nth-child(even) {
	left: 52%;
}
.ph_bottom {
	position: absolute;
	color: #FFFFFF;
	width: 100%;
	height: .6rem;
	line-height: .6rem;
	left: 0;
	bottom: 0;
}
.bottom_btnnn {
	position: fixed;
	right: 0;
	margin: 0 auto;
	z-index: 999;
	height: .88rem;
	line-height: .88rem;
	max-width: 500px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.ph_bottom .bottom_zd,
.bottom_btnnn_zd {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000000;
	opacity: .4;
	z-index: 9;
}
.bottom_btnnn_zd {
	opacity: 1;
	background: #333333;
	z-index: -1;
}
.bottom_btnnn>span {
	float: left;
	position: relative;
	z-index: 1000;
	width: 50%;
	text-align: center;
	line-height: .88rem;
	height: .88rem;
}
.bottom_btnnn>span>i {
	color: #FFFFFF;
	font-size: .38rem;
	display: block;
	line-height: .88rem;
}
.ph_bottom .btn {
	position: absolute;
	z-index: 10;
	cursor: pointer;
	width: 50%;
	text-align: center;
	height: 100%;
	top: 0;
	left: 0;
}
.ph_bottom .btn_next {
	left: 50%;
}
.fengmian {
	width: .92rem;
	font-size: .32rem;
	color: #FFFFFF;
	height: .92rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	line-height: .92rem;
	z-index: 100;
}
.fengmian::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #4abdcc;
	z-index: -1;
	opacity: .7;
}
.photo_boxxx {
	display: none;
}
#photo>.active {
	display: block;
}
.miaoshu_here {
	margin-top: 4%;
	float: left;
	width: 100%;
}
.miaoshu_here>.img_box {
	float: left;
	width: 26%;
	margin: 0 4%;
	height: 0;
	padding-bottom: 26%;
	overflow: hidden;
}
.miaoshu_here>.img_box img {
	width: 100%;
	min-height: 100%;
}
.text_mesg {
	height: 0;
	padding-bottom: 26%;
	float: left;
	width: 62%;
	position: relative;
}
.text_mesg textarea {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	text-indent: 1em;
	outline: none;
	border: none;
}
.squ_bottom {
	text-indent: .2rem;
	background: #FFFFFF;
	float: left;
	width: 100%;
}
.squ_bottom .squ_name {
	margin: .2rem 0;
	float: left;
	width: 100%;
}
.squ_bottom .squ_liulan {
	font-size: .2rem;
	margin-bottom: .2rem;
	color: #666666;
	float: left;
	width: 100%;
}
.banner {
	font-size: .26rem;
	position: fixed;
	max-width: 500px;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	margin: 0 auto;
	z-index: 999;
	background: #FFFFFF;
	height: .88rem;
	line-height: .88rem;
	text-align: center;
}
.banner>.where {
	float: left;
	margin-left: 4%;
}
.banner>.rt_iconfont {
	float: right;
	margin-right: 4%;
	font-size: .3rem;
}
.banner_center {
	color: #4abdcc;
	font-size: .58rem !important;
}

/*相册列表样式*/
#time,#xiangce { background: #f6f7f9;}
.time_here { float: left; position: relative;  width: 92%; margin-left: 4%;}
.time_here .shuxian { position: absolute; width: 2px;  top: 0; bottom: 0; left: .2rem; background: #ffffff; z-index: 1; }
.time_bc { width: 100%;  height: 4rem; float: left; position: relative; z-index: 2;}
.time_title { float: left; width: 100%; position: relative; margin: .3rem 0 .3rem .07rem; z-index: 2; color: #666666;}
.icon-shijian { font-size: .3rem; color: #4abdcc; background: #f6f7f9; margin-right: .2rem;}
.time_bott {float: left; width: 100%;box-sizing: border-box; box-shadow: 0px -1px 1px #cccccc inset; text-indent: .3rem; position: relative; z-index: 2; background: #FFFFFF;}
.bott_name { margin: .2rem 0 .1rem 0; float: left; width: 100%;}
.time_bott>div { font-size: .2rem; color: #999999; margin-bottom: .3rem;}
.bott_where { float: right; margin-right: .3rem;}
.bott_where .iconfont {font-size: .2rem; color: #4abdcc; margin-right: .1rem;}
.time_here_list { margin-bottom: .3rem; float: left; width: 100%;}
.time_bj { position: absolute; top: .3rem; right: .3rem; z-index: 999; width: .88rem; height: .5rem; line-height: .5rem; color: #FFFFFF; background: #4ABDCC; text-align: center;}

#xiangce { padding-bottom: 4%;}
#xiangce .xc_here { float: left; width: 92%; margin: 4% 4% 0 4%;}
.xc_here .xc_img { float: left; height: 4rem; width: 100%;}
.xc_bottom { text-indent: .3rem; background: #FFFFFF; float: left; width: 100%;}
.xc_bot_name { font-size: .26rem; margin: .2rem 0; float: left; width: 100%;}
.xc_bot_mesg { font-size: .2rem; color: #999999; margin-bottom: .2rem;}
.xc_bot_mesg  .mesg_b { float: right; margin-right: .3rem;}
.xc_bot_btn { color: #999999; border-top: 1px solid #f6f7f9; float: left; width: 100%;}
.xc_bot_btn>span { float: left; width: 50%; text-align: center; height: .66rem; line-height: .66rem;}
.xc_bot_btn i { font-size: .3rem; margin-right: .1rem;}
.xc_bot_btn .btn_bj { position: relative;}
.xc_bot_btn .btn_bj::after { content: ""; position: absolute; width: 1px; height: .4rem; background: #f6f7f9; top: .13rem; right: 0;}

/*music*/
.bottom_btnnn {
	position: fixed;
	right: 0;
	margin: 0 auto;
	z-index: 999;
	height: .88rem;
	line-height: .88rem;
	max-width: 500px;
	width: 100%;
	bottom: 0;
	left: 0;
}
.ph_bottom .bottom_zd,
.bottom_btnnn_zd {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000000;
	opacity: .4;
	z-index: 9;
}
.bottom_btnnn_zd {
	opacity: 1;
	background: #333333;
	z-index: -1;
}
.bottom_btnnn>span {
	float: left;
	position: relative;
	z-index: 1000;
	width: 50%;
	text-align: center;
	line-height: .88rem;
	height: .88rem;
}
.bottom_btnnn>span>i {
	color: #FFFFFF;
	font-size: .38rem;
	display: block;
	line-height: .88rem;
}
.ph_bottom .btn {
	position: absolute;
	z-index: 10;
	cursor: pointer;
	width: 50%;
	text-align: center;
	height: 100%;
	top: 0;
	left: 0;
}
.ph_bottom .btn_next {
	left: 50%;
}
.mic_here {
	height: .88rem;
	line-height: .88rem;
	border-bottom: 1px solid #f6f7f9;
}
.mic_name {
	color: #999999;
	margin-left: .3rem;
	float: left;
	max-width: 60%;
	overflow: hidden;
	white-space: nowrap;
}
.mic_btn {
	width: .88rem;
	float: right;
	margin-right: .6rem;
	height: .44rem;
	line-height: .44rem;
	margin-top: .22rem;
	border-radius: 2px;
	text-align: center;
	background: #CCCCCC;
	color: #FFFFFF;
}
.active .mic_btn {
	background: #4abdcc;
;
}
.mic_here.active .mic_btna,
.active .mic_name {
	color: #4abdcc;
;
}
.mic_here>.mic_btna {
	color: #CCCCCC;
	font-size: .3rem;
	float: right;
	margin-right: .3rem;
}
/*save 页面样式*/

#save {
	background: #f6f7f9;
	height: 100%;
}
.save_box {
	width: 92%;
	margin: 0 4%;
}
.save_title {
	color: #333333;
}
.save_here {
	float: left;
	width: 100%;
	margin-top: .5rem;
}
.save_here:first-child {
	margin-top: .3rem;
}
.text_mesg,
.text_mesg>textarea {
	float: left;
	width: 100%;
	outline: none;
	height: 3rem;
	padding-top: .2rem;
	border: none;
}
.text_mesg>textarea {
	text-indent: 1em;
}
.xieyi {
	clear: both;
	float: left;
	width: 100%;
	margin-top: .5rem;
	color: #4abdcc;
}
.xieyi .iconfont {
	color: #FFFFFF;
	background: #4abdcc;
	font-size: .18rem;
	padding: .02rem .04rem;
	float: left;
	margin-right: .1rem;
}


/*gloab*/
caption,
th {
	text-align: left
}
a {
	color: #333333;
	text-decoration: none;
}
a:focus {
	outline-style: none;
}
img {
	/*max-width: 100%;*/
}
abbr,
acronym {
	border: 0;
	font-variant: normal
}
li {
	list-style: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button {
	margin: 0;
	padding: 0;
}
i {
	font-style: normal
}
textarea {
	resize: none
}
ul {
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 50px;
	height: 100%;
	background-color: #FFFFFF;
	max-width: 500px;
}
body {
	font-family: "PingFang SC", "Noto sans CJK SC", helvetica, "microsoft yahei", arial, sans-serif;
	background: #fff;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
}
/*适配*/

@media screen and (min-width: 255px) {
	html {
		font-size: 44px;
	}
}
@media screen and (min-width: 295px) {
	html {
		font-size: 44px;
	}
}
@media screen and (min-width: 335px) {
	html {
		font-size: 50px;
	}
}
@media screen and (min-width: 375px) {
	html {
		font-size: 50px;
	}
}
@media screen and (min-width: 410px) {
	html {
		font-size: 50px;
	}
}
@media screen and (min-width: 450px) {
	html {
		font-size: 50px;
	}
}
@media screen and (min-width: 490px) {
	html {
		font-size: 50px;
	}
}
@media screen and (min-width: 530px) {
	html {
		font-size: 50px;
	}
}
.gloab_box {
	position: relative;
	overflow: hidden;
	font-size: .24rem;
}
.kongbai{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: .24rem;
	color: #cccccc;
	text-align: center;
}
.kongbai .icon_img { position: absolute; height: 2rem; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.kongbai .iconfont { font-size: 1.2rem; display: block;}
.kongbai .kong_btn { position:absolute ; width: 92%; left: 4%; bottom: 4%; background: #4abdcc; color: #FFFFFF; height: .88rem; line-height: .88rem; text-align: center;}

.main_container {width:100%;height:100%; margin: 0 auto; background-color:#f6f7f9}

#cover{display:none;position:absolute;left:0;top:0;z-index:18888;background-color:#000000;opacity:0.7;width: 100%;height:100%;}
#guide{display:none;position:absolute;right:18px;top:35px;z-index:19999;}
#guide img{width:260px;height:180px;}

