/*预览页样式*/
.footer {
	font-size: .26rem;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	height: .88rem;
	line-height: .88rem;
	width: 100%;
	max-width: 414px;
	z-index: 199;
}
.footer::after {
	content: "";
	z-index: 197;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: .5;
	left: 0;
	top: 0;
}
.footer>a {
	width: 25%;
	float: left;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	z-index: 198;
}
.footer .iconfont {
	font-size: .26rem;
	margin-right: .16rem;
}
#moban {
	height: 100%;
	width:100%;
}
.moban_box {
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background:url(../img/index.jpg) no-repeat;
	background-size:cover;
}


/*列表页样式*/
header {
	height: .88rem;
	line-height: .88rem;
	background: #FFFFFF;
	position: relative;
}
header>ul {
	margin-left: 3%;
	position: absolute;
	width: 200%;
	height: .88rem;
	line-height: .88rem;
	left: 0;
	top: 0;
}
header>ul>li {
	float: left;
	font-size: .26rem;
	color: #999999;
	margin-left: .3rem;
	cursor: pointer;
}
header>ul>li:first-child {
	margin-left: 0;
}
header>ul>.active {
	color: #4abdcc;
}
.big_box {
	font-size: .24rem;
	clear: both;
	/*padding-top: 1.18rem;*/
}
.big_box>ul>li {
	float: left;
	width: 29.33%;
	position: relative;
	overflow: hidden;
	margin: 0 0 3% 3%;
}
.big_box>ul>li>div,
.big_box>ul>li>span {
	float: left;
	width: 100%;
}
.big_box>ul>li>div {
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}
.big_box>ul>li>div>img {
	width:100%;
}
.big_box>ul>li>span {
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	background: #FFFFFF;
}